.parent {
    display: flex;
    justify-content: center;
}

body {
    background-color: #f1f1f1;
}

.information {
    width: 450px;
    background-color: #ffff;
    box-shadow: 5px 10px 10px 5px #e9e8e8;
    align-items: center;
    border-radius: 5px;
}

.profile img {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;

}

.profile {
    position: relative;
    display: inline-block;
    width: 450px;
    height: 300px;

}

.profile-text {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 165%);
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

hr {
    color: #eeeeee;
    width: 425px;
    margin-top: -1px;
    margin-bottom: 27px;
}


.icon {
    width: 25px;
    height: 25px;
}

.box-text {
    margin-left: 10px;
}

.box-i {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -75%);
    color: #757575;
    margin-top: 10px;
    font-size: 14px;
}

.skill>samp,
.Languages>samp {
    font-size: larger;
}

.skill,
.Languages {
    margin: 10px;
    font-weight: 600;
}

.box-2-1,
.box-3-1 {
    margin: 15px;
}

.box-2-1 p,
.box-3-1 p {
    color: #757575;
}

.parent-box-2 {
    height: 15px;
    width: 400px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.parent-box-2 div {
    background-color: #242222;
    border-radius: 5px;
    height: 15px;
}

.child-box-2-1 {
    width: 30%;
}

.child-box-2-2 {
    width: 70%;
}

.child-box-2-3 {
    width: 65%;
}

.child-box-2-4 {
    width: 20%;
}

.child-box-2-5 {
    width: 40%;
}

.child-box-3-1 {
    width: 30%;
}

.child-box-3-2 {
    width: 60%;
}

.fader {}

.box-child-1,
.box-child-2 {
    width: 910px;
    height: 336px;
    background-color: #ffff;
    margin: 0 10px 10px 20px;
    box-shadow: 5px 10px 10px 5px #e9e8e8;
    padding: 10px;
    border-radius: 5px;
}

.box-child-2 {
    height: 600px;
}

.Work,
.Education,
.school div {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    align-items: center;
}

.workTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin: 10px;

}

.time {
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    align-items: center;
    display: flex;
}

.time samp {
    margin: 5px;
}

.border {
    border: solid 0.5px #d4cbcb;
    background-color: #d4cbcb;
    border-radius: 10px;
    padding: 10px;
}

.bio {
    color: #757575;
    margin-bottom: 10px;
}

.icon-1 {
    width: 60px;
    margin-right: 20px;
}

.class,
.Experience {
    margin-left: 10px;
}

.school {
    margin-top: 40px;
}

@media screen and (max-width:400px) {
    .parent {
        display: block;
        
    }

    .box-child-1,
    .box-child-2 {
        width: 400px;
        height: 336px;
        background-color: #ffff;
        box-shadow: 5px 10px 10px 5px #e9e8e8;
        border-radius: 5px;
    }

    .information{
        display: block;
        height: 1085px;
        margin-bottom: 10px;
        margin-left: 20px;
        width: 420px;

    }

    .box-child-2{
        height: 600px;
    }

    .profile img {
        width: 420px;
        height: 300px;
        border-radius: 5px 5px 0 0;
    
    }

}